header {
  background-color: greenyellow;
  /* height: 100vh; */
}
header section:nth-of-type(1) {
  width: 70vw;
  text-align: center;
  margin: 0 auto;
  padding: 10vh 0;
}

header section:nth-of-type(2) {
  display: flex;
  justify-content: space-around;
}

header section h2 {
  font-size: 2rem;
  margin-bottom: 3vh;
}

header section h1 {
  font-size: 4.5rem;
  color: white;
  border-bottom: 2px solid white;
  padding-bottom: 5vh;
  margin-bottom: 5vh;
}

header section p {
  font-size: 1.4rem;
}

section .element {
  border-right: 2px solid white;
  padding-right: 5vw;
  margin-bottom: 5vh;
  text-align: center;
}

section .element:nth-of-type(4) {
  border: none;
}

section .element h2 {
  font-size: 3rem;
  color: white;
}
section .element p {
  font-weight: bold;
}
